.anim {
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite ;
}

.anim:hover {
    animation-play-state: paused;
    
}

.slider {
    display: flex;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}